@CHARSET "UTF-8";
body {
	background-color: #569cf1;
	margin: 0px;
	padding: 0px;
}

#title{
	font-size: 30px;
	font-family: 微软雅黑;
	background:#fff;
	text-align: center;
}

#result{
	font-family: "微软雅黑";
	font-size: 16px;
	text-align: center;
	margin-top: 5%;
}

#classTable{
	background:#fff;
	font-family: "微软雅黑";
	font-size: 16px;
	text-align: center;
	padding: 5px;
	border: 2px #fff solid;
	border-radius: 20px;
}

table th{
	border: 2px #569cf1 solid;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
}

table td{
	border: 2px #569cf1 solid;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
}