@CHARSET "UTF-8";
body {
	background-color: #569cf1;
	margin: 0px;
	padding: 0px;
}

#title{
	font-size: 30px;
	font-family: 微软雅黑;
	background:#fff;
	text-align: center;
}


#table{
	text-align: center;
	margin: 5% auto;
}

#function{
	background:#fff;
	width:30%;
	height:25%;
	font-family: "微软雅黑";
	font-size: 16px;
	text-align: center;
	border: 2px solid;
	border-color: #fff;
	border-radius:30px;
	margin: 10% auto;
}

#rights{
	width:30%;
	height:6%;
	font-family: "微软雅黑";
	font-size: 16px;
	text-align: center;
	border: 2px solid;
	border-color: #fff;
	border-radius:30px;
	margin: 0 auto;
}


a:link, a:visited {
	text-decoration: none;
	color: #FFFFFF;
}