@CHARSET "UTF-8";

body {
	background-color: #569cf1;
	margin: 0px;
	padding: 0px;
}

#title {
	font-size: 30px;
	font-family: 微软雅黑;
	background: #fff;
	text-align: center;
}

#tab{
	text-align: center;
	margin: 5% auto;
}

#info {
	background:#fff;
	width:35%;
	height:38%;
	font-family: "微软雅黑";
	font-size: 16px;
	text-align: center;
	margin: 5% auto;
	border: 2px solid;
	border-color: #fff;
	border-radius:30px;
}